<div>
    @if (state().loaded) {
        <section class="server" data-class="server">
            @for (part of parts(); track $index) {
                <section class="verb" data-class="verb">
                    <p>
                        <b>
                            URL:
                        </b>
                        &nbsp;
                        <span>{{ getUrlByPart(part) }}</span>
                    </p>

                    <p>
                        <b>
                            Response:
                        </b>
                        &nbsp;
                        <span>
                      {{state()[part]}}
                  </span>
                    </p>
                </section>
            }
        </section>
    }
</div>
