<div>
    <div *ngIf="state.loaded">

    </div>

    <section class="server" *ngIf="state.loaded">
        <section class="verb" *ngFor="let part of parts()">
            <p>
                <b>
                    URL:
                </b>
                &nbsp;
                <span>{{ getUrlByPart(part) }}</span>
            </p>

            <p>
                <b>
                    Response:
                </b>
                &nbsp;
                <span>
              {{state[part]}}
          </span>
            </p>
        </section>
    </section>
</div>
